body {
    font-family: "Trebuchet MS";
    text-align: center;
    background: no-repeat center/400vh linear-gradient(rgb(50 100 150), rgb(100 150 200));
    width: 90vw;
    height: 200vh;
    padding: 3vw;
}

#timeapi {
    border: 2px black solid;
    border-radius: 25px;
    text-align: center;
    background: no-repeat center/100% fixed linear-gradient(rgb(255, 145, 0), rgb(84 26 177));
    width: 90vw;
}

.br {
    height: 5%;
}